

body{
    background-color:#404040;
    background-image:url(images/2016_logo.jpg);
    background-repeat:no-repeat;
    background-position:center;
    margin-top:300px;
    color:yellow;
}

@font-face {
    font-family: BatmanForever;
    src: url('images/BatmanForeverAlternate.ttf');
}

h1{
    font-family:BatmanForever;
    position:relative;
    text-align:center;
}
#game{
    margin-left:auto;
    margin-right:auto;
    width:500px;
    height:450px;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    position:relative;
}

li{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    cursor:pointer;
    list-style-type:none;
}

#button_container{
    padding-top:20px;
}
#submit{
    font-family:BatmanForever;
    font-size:20px;
    background-color:black;
    border:1px solid #404040;
    border-radius:8px;
    color:yellow;
    cursor:pointer;
}

#startbutton{
    background-color:black;
    color:yellow;
}

#endgame p{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family: 'Roboto', sans-serif;
}
